.upcoming-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: #fff; /* Adjust text color for better visibility */

  padding: 150px 80px;
  position: relative;
}

section.upcoming-section {
  display: flex;
  justify-content: center;
}

.upcoming-section .content {
  max-width: 1200px;
  width: 100%;
  font-family: "Poppins";
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.upcoming-section .event-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.upcoming-section .head-title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
}

.upcoming-section .event-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 42px;
}

.upcoming-section svg {
  height: 32px;
  width: 32px;
}
.upcoming-section .event-time .flex {
  gap: 45px;
  margin-top: -50px;
}

.upcoming-section .time .num {
  font-weight: 500;
  font-size: 6vw;
}

.upcoming-section .time .text {
  text-transform: uppercase;
  font-size: 12pt;
  text-align: center;
}

.upcoming-section .event-location {
  display: flex;
  gap: 15px;
  align-items: center;
}

.upcoming-section .event-details,
.upcoming-section .event-time {
  max-width: 500px;
}

.upcoming-section .absolute-btn {
  position: absolute;
  top: 100%;
  right: 200px;
  margin-top: -35px;
  background: #fff;
  color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.1);
}

.btn {
  background: #fff;
  color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.about-section,
.three-events-section,
footer,
#hello {
  padding: 50px;
}
.about-section .content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.about-section .image {
  position: relative;
  padding: 50px;
}
.about-section .image .meet {
  aspect-ratio: 3/2;
  width: 350px;
  border-radius: 1px;
  top: 50%;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.about-section .text {
  width: 100%;
  max-width: 500px;
}

.about-section .circles {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  position: relative;
}
.about-section .circle {
  width: 100%;
  aspect-ratio: 1;
  content: "";
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 80px;
}

.head-title.section-header {
  font-size: 16pt;
  width: fit-content;
  color: #000;
  margin-bottom: 30px;
  font-family: "Poppins";
}
.head-title.section-header .color-primary {
  display: flex;
  width: 100%;
  word-spacing: 50px;

  position: relative;
}

.head-title.section-header .color-primary::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: var(--primary-color);
  height: 5px;
}
.head-title.section-header .color-primary .text-span {
  padding-right: 20px;
  background-color: #fff;
  z-index: 1;
}

.about-section .desc {
  display: flex;
  gap: 30px;
  text-align: justify;
  flex-direction: column;
}
.about-section p.second {
  border-left: 2px solid var(--primary-color);
  padding-left: 30px;
}

.about-section .links,
#hello .links {
  padding-top: 30px;
}

#hello .emp {
  font-size: 15pt;
  color: #000;
  font-weight: 700;
}

#hello .texts {
  display: flex;
  text-align: justify;
  gap: 25px;
  flex-direction: column;
}

#hello .row {
  gap: 100px;
}

.three-events-section {
  padding: 80px 50px;
  display: flex;
  justify-content: center;
}

.three-events-section .content {
  width: 100%;
  max-width: 1200px;
}

.three-events-section .events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.event .fa,
.event-description .fa {
  display: inline-block;
  padding-right: 15px;
  color: var(--secondary-color);
}

.event {
  position: relative;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.1);
}

.event img {
  width: 100%;
  height: 100%;
}

.event .image {
  width: 100%;
  aspect-ratio: 4/3;

  position: relative;
}
.event .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.event .details {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 25px;
}

.event .event-title {
  font-weight: 600;
  font-family: "Poppins";
  color: var(--primary-color);
  font-size: 13pt;
}

.event .abs {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 10px;
  font-family: "Poppins";
  aspect-ratio: 1;
  width: 50px;
  right: 10px;
  padding: 5px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-family: "Poppins";
}

.event .abs .num {
  font-size: 15pt;
  font-weight: 700;
}

.event .abs .text {
  font-size: 8pt;
  margin-top: -5px;
  text-transform: uppercase;
}

.event .event-short-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to show */
  max-height: 3 * 1.2em;
}

.event .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.event .link {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}

.three-events-section .links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.p {
  text-align: center;
  max-width: 500px;
  max-width: 100%;
  padding: 40px 0;
}

.contact.section,
.event-description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.contact.section .content,
.event-description .content {
  max-width: 700px;
  width: 100%;
  padding: 50px;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.1);
}

.contact.section form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.input {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 15px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  border: 1px solid #aaa;
}

label {
  color: #000;
}

.event-description #eventDescription {
  padding: 30px 0;
}

.event-description .video {
  display: flex;
  justify-content: center;
}

.event-description .video iframe {
  width: 100%;
  padding: 30px;
}

.event-description #eventImage img {
  width: 100%;
  aspect-ratio: 4/2;
}
.event-description .links {
  padding: 20px 0;
}

footer {
  display: flex;
  color: #999;
  background: #222;
  justify-content: center;
}

footer .brand .site-name {
  color: #fff;
}

.footer-body .bottom {
  grid-column: span 3;
  text-align: center;
  padding: 20px 0;
}

.footer-body form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}
img {
  object-fit: cover;
}
footer p.p {
  text-align: left;
}
button {
  font-family: inherit;
  border: none;
}
.footer-body input {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  background: #333;
  border-radius: 0;
  color: inherit;
}

.footer-body .social-links {
  gap: 20px;
}

.footer-body .social-links > * {
  font-size: 19px;
}

.footer-body h3 {
  font-family: "Poppins";
  margin-bottom: 30px;
  font-weight: 500;
}

.footer-body .useful-links a {
  display: block;
  padding: 10px 0;
}
footer .footer-body {
  display: grid;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 700px) {
  .three-events-section .events,
  footer .footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .footer-body > div {
    width: 100%;
    max-width: 450px;
  }

  .three-events-section .event {
    max-width: 400px;
  }

  .event-details .event-title {
    font-size: 30px;
  }
  #countdown {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .contact.section form {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .contact.section form {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .btn {
    padding: 10px 20px;
  }
  .contact.section form {
    grid-template-columns: repeat(1, 1fr);
  }

  .upcoming-section .content {
    flex-direction: column;
  }

  #hello .container .row {
    flex-direction: column;
  }

  .about-section .content {
    flex-direction: column;
  }
  .three-events-section .events {
    grid-template-columns: repeat(2, 1fr);
  }

  .header .links {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: opacity 1s;
  }

  .header .links a {
    display: flex;
    max-width: 200px;
    text-transform: uppercase;
    width: 100%;
  }

  /* Display menu when the checkbox is checked */
  #menuOpen:checked ~ .links {
    display: flex;
    margin-top: 0;

    opacity: 1;
    z-index: 2;
  }
  .menu-bars {
    display: block;
    z-index: 3;
  }
}

@media screen and (min-width: 900px) {
  footer .footer-body {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-bars {
    display: none;
  }
  .header .links {
    position: initial;
  }
  .menu-bars {
    display: none;
  }
}
