@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("divine.css");
@import url("kellia.css");
@import url("reponse.css");

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #0d3e4c;
  --secondary-color: #48c5e1;
}

body {
  font-family: "Maven Pro";
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #555;
}

/* Common styles */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-primary {
  background: var(--primary-color);
}
.light-primary {
  background: var(--secondary-color);
}

.color-primary {
  color: var(--primary-color);
}
.light-color {
  color: var(--secondary-color);
}

.btn {
  padding: 20px 35px;
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.5s;
}
